{% extends "todolist/layout.html" %}
{% load static %}

{% block body %}
    <h2>Welcome, {{ request.user.first_name }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="list">list</button>
    <button class="btn btn-sm btn-outline-primary" id="create">Create</button>
    <button class="btn btn-sm btn-outline-primary" id="done">Done</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <div id="list-view">
        <h4></h4>
    </div>
    <div id="create-view">
        <h3>New Task</h3>
        <form id="create-form">
            <div class="form-group">
                Task: <input class="form-control" id="create-title" placeholder="Title">
            </div>
            <div class="form-group">
                Category: <select name="category" id="create-category" class="form-control">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <textarea class="form-control" id="create-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'todolist/inbox.js' %}"></script>
{% endblock %}